<!-- subs index -->
<h1>Look at all the subs</h1>

<a href="<%=new_sub_url%>">Create a Sub</a>
<ul>
  <% @subs.each do |subreddit| %>
    <li><a href="<%= sub_url(subreddit)%>"><%= subreddit.title %></a></li> 
  <% end %>
  
</ul>

